[Unit]
Description=MPD Smart Shuffle Monitor
After=network.target sound.target

[Service]
Type=simple
ExecStart=%h/bin/monitor.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
